.card{
    margin: 7px;
    width: 300px;
    height: 500px;
    color: #ccc;
    background-image: url('https://p4.wallpaperbetter.com/wallpaper/363/368/20/dark-wood-texture-wallpaper-preview.jpg');
}
.card img{
    object-fit: contain;
    width: 300px;
}