.divPaginado ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-bottom: 0;
    color: #ccc;
}
.divPaginado ul li{
    cursor: pointer;
}
.divPaginado ul li:hover{
    color: rgb(95, 95, 95);
}