.divPaginado ul{
    margin-top:20px ;
    display: flex;
    list-style: none;
    justify-content: space-around;

    color: #ccc;
}
.divPaginado ul li{
    
    cursor: pointer;
    border: solid 1.5px #ccc;
    display: flex;
    justify-content: center;
    width: 27px;
    border-radius: 100%;
}
.divPaginado ul li:hover{
    color: #666;
    border: solid 1.5px #666;
}