
.divHeder{
    background-color: black;
}
.divHeder section{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.divHeder section div{
    min-width: 250px;
}

.divHeder h1{
    margin-top: -5px;
    color: #fff;
}
.divHeder div{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding-bottom: 15px;
}
.divHeder select{
    width: 150px;

}
.divSectionHome{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}