.pageFavDiv header b{
    color: aliceblue;
}
.pageFavDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.pageFavDiv section{
    display: flex;
    justify-content: space-around;
}