
.pageFavDiv header{
    display: flex;
}
.pageFavDiv header b {
    color: aliceblue;
}
.pageFavDiv header a{
    left: 0;
    color: aliceblue;
}

.pageFavDiv section{
    display: flex;
    justify-content: space-around;
}