.divCreate section{
    display: flex;
    flex-direction: column;
    align-items:center ;
    margin: 80px;
}
.divCreate a{
    color: antiquewhite;
    font-size: 22px;
    margin-left: 20px;
}

.divCreate form{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 600px;
    background-image: url('https://p4.wallpaperbetter.com/wallpaper/363/368/20/dark-wood-texture-wallpaper-preview.jpg');
    border-radius: 10px;
    align-items:center ;
    justify-content: space-around;
}
.divCreate input{
    width: 150px;
    height: 18px;
    border: none;
    border: outset;

}

.divCreate p{
    color: aliceblue;
}